[Desktop Entry]
Type=Action
Tooltip=Open Folder As Root
Name=Open Folder As Root
Icon=gtk-dialog-authentication
Profiles=on_folder;

[X-Action-Profile on_folder]
Exec=gksudo pcmanfm %f
MimeTypes=inode/directory;